{% extends "base.html" %}<!--Heredado o extendido de base1.html -->

{% block content %}

    <p>El tipo con parámetros de consulta {{ parametroConsulta1 }} y {{ parametroConsultaN }}, y con parámetro de ruta constante, id={{ idEnDetails }} es: {{ tipo }}</p>

<div class="w3-panel w3-sand" style="width:50%; margin:auto;">
<div class="w3-card-4">
  <div class="w3-panel w3-brown">
    <h2>Datos enviados desde formulario de envio</h2>
  </div>
  <form class="w3-container" method="get">
    <label class="w3-text-blue">Tipo de url</label>
    <input
      class="w3-input w3-border"
      type="text"
      value="{{ tipoDado }}"
      style="width:80%" readonly>
    
    <label class="w3-text-blue">Url</label>
    <input
      id="url"
      class="w3-input w3-border"
      type="text"
      value="<script>window.location.href</script>"
      style="width:80%" readonly>

    <label class="w3-text-blue">Parám de ruta</label>
    <input
      class="w3-input w3-border"
      type="text"
      value="{{ parametroDeRuta }}" 
      style="width:30%" readonly>

    <label class="w3-text-blue">Parámetro de consulta 1</label>
    <input
      class="w3-input w3-border"
      type="text"
      value="{{ parametroConsulta1 }}"
      style="width:30%" readonly>

    <label class="w3-text-blue">Parámetro de consulta N</label>
    <input
      class="w3-input w3-border"
      type="text"
      value="{{ parametroConsultaN }}"
      style="width:30%" readonly>
    <br>
   </form>
</div>
<br>
</div>
<br>
<script>
document.getElementById('url').value=window.location.href
</script>
    
{% endblock %}